/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */

@font-face {
  font-family: 'old_press';
  src: font-url('old_press.ttf') format('truetype');
}

.cover {
  height : auto;
  width : 2000px;
}

.special_font {
  font-family: 'old_press';
  font-size: 6em;
  position: relative;
  top: -1.7em;
  color: #EEE ;
}

.soustitre {
  position: relative;
  top: -4.3em;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.83);
}

.contact_box {
  padding: 8px;
  margin-top: 35px;
  margin-left: 60px;
  background-color: #C2CA85 ;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.35);
  i {
    margin-left: 15px;
    color: #582C22;
  }
  h3 {
    margin-bottom: 0;
    
  }
}


.post_box {
  position: relative;
  top: -5em;
  background-color: #F5f5f5;
  padding: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

footer {
  background : #582C22;
  color: #FAFAFA;
  a { color: #FAFAFA };
  a:hover { color: #DDD };
  -webkit-box-shadow: 1px -3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px -3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px -3px 5px 0px rgba(50, 50, 50, 0.75);
}
